* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

