body {
    margin: 0px; 
    padding: 0px;
}

#form {
    border: 5px solid black;
    border-radius: 10px;
    width: 60%;
    margin: 5% auto 2.5% auto;
}

form {
    margin: 10px 0;
}

.input-div {
    display: flex;
    justify-content: center;
}

input {
    width: 38%;
    height: 20px;
    margin: 10px 15px;
    border: 2px solid black;
}

.textarea-div {
    display: flex;
    justify-content: center;
}

textarea {
    width: 80%;
    height: 175px;
    border: 2px solid black;
    margin: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
}

button {
    border: 2px solid black;
    background-color: lightgray;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px 15px;
    margin: 10px;
}

.badge-div {
    border: 5px solid black;
    border-radius: 10px;
    width: 60%;
    margin: 2.5% auto;
}

.badge-text-div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between
}

.badge-text {
    width: 30%;
}
