/* enytry list */
.entries-container {
  height: 75vh;
  overflow-y: auto;
}

.entry-div {
  width: 70%;
  margin: auto;
  word-wrap: break-word;
}

/*individual entry*/
.entry {
  width: 70%;
  margin: auto;
  background-color: #fff;
  height: 75vh;
  overflow-y: auto;
}