body {
    background-color: bisque;
}

/* france */

.f-container {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    margin: 5px;
}

.f-blue, .f-white, .f-red {
    position: absolute;
    height: 200px;
    width: 100px;
}

.f-blue {
    background-color: blue;
    left: 0;
}

.f-white {
    background-color: white;
    right: 100px;
}

.f-red {
    background-color: red;
    right: 0;
}

/* germany */

.germ-container {
    width: 300px;
    height: 210px;
    border: 1px solid black;
    position: relative;
    margin: 5px;
}

.germ-black, .germ-red, .germ-yellow {
    position: absolute;
    height: 70px;
    width: 300px;
}

.germ-black {
    background-color: black;
    
}

.germ-red {
    background-color: red;
    top: 70px;
}

.germ-yellow {
    background-color: yellow;
    top: 140px;
}
