/* Navbar */


/* footer */

footer {
    height: 50px;
}



/* Home page */

.home {
    position: relative;
    width: 100%;
    height: 95vh;
}

.home-title-div {
    height:95vh;
    position:relative;
    z-index:5;
    color: white;
}

.title h1 {
    font-size: 3em;
}

/* ApodCard */

.image-card img {
    max-height: 600px;

}

/* ApodDateInput */





